<!doctype html>
<head>
  <title>wikivision</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.js"></script>
  <script src="{{ url_for('static', filename='revision_tree.js') }}"></script>
</head>
<body>
  <h1>wikivision</h1>
  <svg></svg>
  <script>
var root;
var treeData = {{ tree_data | safe }};

var margin = {top: 40, right: 120, bottom: 20, left: 120},
  width = 960 - margin.right - margin.left,
  height = 500 - margin.top - margin.bottom;

var i = 0;

var tree = d3.layout.tree()
  .size([height, width]);

var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.x, d.y]; });

var svg = d3.select("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

if ("nodes" in treeData) {
  root = nestNodeList(treeData["nodes"])
  revisionTree(root);
}
  </script>
</body>
